* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', sans-serif;
  background-color: var(--primary-light);
  color: #222;
  line-height: 1.6;
  padding-top: 115px;
}

main {
  overflow-x: hidden;
}

section {
  width: 100%;
}

h1, h2, h3 {
  font-weight: 600;
}

button {
  cursor: pointer;
  border: none;
  transition: var(--transition);
}

