:root {
  --primary-dark: #00111f;
  --primary-skyblue: #52C9EF;
  --primary-blue: #00bfff;
  --primary-darkblue: #115893;
  --primary-darkblue2: #080E14;
  --primary-light: #f8f9fa;
  --white: #ffffff;

  --transition: 0.3s ease;
  --max-width: 1200px;
}