.login-container{
    width: 100vw;
    display: flex;
    flex-direction: column;
    
}
.login-box{
    align-self: center;
    width: 100%;
    padding: 1.5em;
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 60%;
    justify-content: center;
    align-items: center;
}
