/* main{
  padding: 2em;
} */
.catalogo-page{
  padding: 2em;
}
.categoria-bloque {
  margin-bottom: 60px;
}
.catalogo-content{
  margin-bottom: 90px;
}
.categoria-titulo {
  font-size: 28px;
  margin-bottom: 25px;
  border-left: 5px solid #111;
  padding-left: 10px;
}

.subcategoria-bloque {
  margin-bottom: 40px;
}

.subcategoria-titulo {
  font-size: 20px;
  margin-bottom: 20px;
  color: #444;
}

.catalogo-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 20px;
}
