.footer {
  background: #00111f;
  color: white;
  padding-top: 4rem;
}

.footer-container {
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding: 0 2rem 3rem;
  flex-wrap: wrap;
}

.footer-container div {
  margin-bottom: 2rem;
}

.footer-bottom {
  background: #002a4d;
  text-align: center;
  padding: 1rem;
}
